.navbar {
    background: linear-gradient(to right,  #138b9b, #535353); /* Degradado de gris a lavanda */
}

.navbar a.nav-link {
    color: #333; /* Color del texto de los enlaces */
}

.navbar a.nav-link:hover {
    color: #555; /* Color del texto al pasar el mouse */
}

.navbar .navbar-brand {
    color: #333; /* Color del texto de la marca */
}

.navbar .navbar-brand:hover {
    color: #555; /* Color del texto de la marca al pasar el mouse */
}

.navbar .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para el menú desplegable */
}

.btn{
    background: linear-gradient(to right,  #138b9b, #535353);
    border: none;
    transition: .3s;
    color: white;
}

.btn:hover{
    background: #138b9b;
}