.pagination {
  display: flex;
  flex-wrap: wrap;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
}

/* Estilos para la paginación */
.pagination {
  margin: 20px 0; /* Margen superior e inferior para separación */
}

/* Estilo para cada elemento de la página */
.page-item {
  margin: 0 5px; /* Espaciado entre los elementos */
  transition: transform 0.2s; /* Transición suave para la animación */
}

/* Efecto de hover para el elemento de la página */
.page-item:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

/* Estilo para los enlaces de las páginas */
.page-link {
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  color: #007bff; /* Color del texto */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #007bff; /* Borde azul */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para el fondo y el texto */
}

/* Efecto de hover para los enlaces de las páginas */
.page-link:hover {
  background-color: #007bff; /* Fondo azul al pasar el ratón */
  color: #fff; /* Texto blanco al pasar el ratón */
}

/* Estilo para la página activa */
.page-link.active {
  background-color: #007bff; /* Fondo azul para la página activa */
  color: white; /* Texto blanco para la página activa */
  border: 1px solid #0056b3; /* Borde más oscuro para la página activa */
}

/* Estilo para pantallas pequeñas */
@media (max-width: 576px) {
  .pagination {
    flex-wrap: wrap; /* Permite que la paginación se ajuste en varias líneas */
    justify-content: center; /* Centra el contenido */
  }
}
